     body {
            font-family: 'Arial', sans-serif;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: #a8e6cf; /* Light green background */
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #a8e6cf; /* Light green */
            padding: 10px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .navbar-brand img {
            max-width: 30px;
            margin-right: 10px;
        }

        .navbar-links {
            display: flex;
            gap: 20px;
        }

        .navbar-links a {
            text-decoration: none;
            color: #333;
            padding: 8px 16px;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        .navbar-links a:hover {
            background-color: #8ed5b8; /* A bit darker green */
        }

        .container {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 10px;
        }

        #motivational-message {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }

        button {
        font-size: 27px; /* Half of 54px */
        padding: 15px 30px; /* Half of 30px 60px */
        cursor: pointer;
        background-color: #8ed5b8;
        border: none;
        border-radius: 7.5px; /* Half of 15px */
        color: #ffffff; 
        transition: background-color 0.3s;
}

button:hover {
    background-color: #76c4a8; /* Slightly darker shade on hover */
}


        h1 {
            color: #333;
            border-bottom: 2px solid #8ed5b8; /* Lighter green for contrast */
            padding-bottom: 10px;
            text-align: center;
            margin-bottom: 20px;
        }

        footer {
    background-color: #8ed5b8; /* Light green for a cohesive look */
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-info p {
    margin: 0; 
    font-size: 16px;
    color: #ffffff; /* White text for contrast against the green background */
}

.footer-info a {
    color: #ffffff; /* White text for the email link */
    text-decoration: none;
    transition: opacity 0.3s; /* Smooth transition for hover effect */
}

.footer-info a:hover {
    opacity: 0.8; /* Slightly faded look on hover for the email link */
}
