     body {
            font-family: 'Arial', sans-serif;
            height: 100vh;
            margin: 0;
            display: flex;
            flex-direction: column;
            background-color: #a8e6cf; /* Light green background */
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #a8e6cf; /* Light green */
            padding: 10px 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .navbar-brand {
            display: flex;
            align-items: center;
        }

        .navbar-brand img {
            max-width: 30px;
            margin-right: 10px;
        }

        .navbar-links {
            display: flex;
            gap: 20px;
        }

        .navbar-links a {
            text-decoration: none;
            color: #333;
            padding: 8px 16px;
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        .navbar-links a:hover {
            background-color: #8ed5b8; /* A bit darker green */
        }

        .container {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
            border-radius: 10px;
        }

        #motivational-message {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }

        button {
            font-size: 18px;
            padding: 10px 20px;
            cursor: pointer;
            background-color: #8ed5b8; /* Lighter green for the button */
            border: none;
            border-radius: 5px;
            color: #ffffff; /* White text */
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #76c4a8; /* Slightly darker shade on hover */
        }